<ng-container *ngIf="(data$ | async) as data">
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag (cdkDragEnded)="drop($event)" [ngStyle]="style$ | async">
    <div>
      <textarea [(ngModel)]="text" (change)="onTextChanged()"></textarea>
    </div>
    <div>
      <span>
        <button [matMenuTriggerFor]="colorSelector" mat-icon-button>
          <mat-icon>palette</mat-icon>
        </button>
        <mat-menu #colorSelector class="color-selector">
          <ng-container *ngFor="let color of colorAssets">
            <button mat-menu-item (click)="changeColor(color.id)">
              <mat-icon [style.color]="color.colorCode">circle</mat-icon>
            </button>
          </ng-container>
        </mat-menu>
      </span>
      <span>
        <button mat-icon-button (click)="remove()">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </div>
  </div>
</ng-container>
